/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS GENERALES */

html{
    background-color: #000000;
}

a{
    color: #000000;
    text-decoration: none;
}

/* estilos del header */

header{
    text-align: center;
    padding: 10px;
    background-color: #000000;
}

header nav ul li{
    background-color: #F0EDE6;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

/* estilos del main */

main {
    margin: 30px;
}

/* Estilos del footer */

footer{
    margin: 30px;
    text-align: center;
}

@media screen and (max-width:600px) {

    /* Index */    

    .home .texto-home{
        text-align: center;
        background-color: #F0EDE6;
        border-radius: 5%;
        padding: 20px;
    }

    .home .texto-home h3{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    section{
        display: flex;
        margin: 30px;
    }

    section img{
        margin-right: 30px;
    }
    section .img-3, .img-4, .img-5{
        display: none;
    }
    
    /* SOBRE MI */

    .texto-2{   
        margin: 30px;
        }
    
    .texto-2 p{ 
        padding: 20px;
        font-size: large;
    }

    /* Contacto */

    main h4{
        margin-top: 20px;
    }
    .wpp{
        margin-top: 10px;
        padding: 10px;
    }

    .mail{
        padding: 10px;
    }

    main form{
        margin: 30px;
        font-size:medium;
        background-color: #F0EDE6;
    }

    /* MI VISION */

    h2{
        text-align: center;
    }

    /* PROYECTOS */

    .main-proyectos{
        display: grid;
        grid-template-columns: repeat(2, 15rem);
        gap: 20px;
    }

    .texto-3{
        display: none;
    }
}

@media screen and (min-width:1024px){
    /* ESTILOS ESPECIFICOS */
    /* Index */

    .home{
        display: flex;
    }

    .home .texto-home{
        text-align: center;
        background-color: #F0EDE6;
        border-radius: 5%;
        padding: 20px;
    }

    .home .texto-home h3{
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .home .img-home{
        margin-left: 370px;
    }

    section{
        margin: 30px;
    }

    section img{    
    padding: 10px;
    margin-right: 18px;
    }

    /* SOBRE MI */

    main div{
        align-content: center;
    }

    .texto-2{   
    margin: 30px;
    }

    .texto-2 p{ 
    padding: 20px;
    font-size: large;
    }

    /* Contacto */

    main h4{
        margin-top: 20px;
    }
    .wpp{
        margin-top: 10px;
        padding: 10px;
    }

    .mail{
        padding: 10px;
    }

    main form{
        margin: 30px;
        font-size: large;
        background-color: #F0EDE6;
    }

    /* MI VISION */

    h2{
        margin-left: 50px;
    }

    /* PROYECTOS */

    .main-proyectos{
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        row-gap: 20px;
    }

    .main-proyectos .item{
        display: flex;
    }

    main .item .texto-3{
        margin: 30px;
        text-align:justify;
    }
}